<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo List: </h1>
    <ul class="todoItems">
        <!-- After a local variable named "items" is passed to this view to render, this loops through each item within the items array and creates a li -->
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <!-- This checks to see if the current item has a property of completed that has a value of true, and if so, the item's thing property's value replaces "<%= items[i].thing %>" -->
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
                <!-- If the current item does not have a property of completed, then this code runs and the item's complete property replaces "<%= items[i].thing %>" below -->
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
